In [2]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: pandas>=0.24.0 in /opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.1)
Requirement already satisfied: requests>=2.26 in /opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.27.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
Requirement already satisfied: lxml>=4.5.1 in /opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.8.0)
Requirement already satisfied: numpy>=1.15 in /opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8500 sha256=0152dcce69672b84a553c4cf2c76a73afe7a6b5cd0e60ce22c910d2a92959a2f
  Stored in directory: /Users/aliait/Library/Caches/pip/wheels/f2/b5/2c/59ba95dcf854e542944c75fe3da584e4e3833b319735a0546c
Successfully built multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.10 yfinance-0.1.70
Note: you may need to restart the kernel to use updated packages.

In [3]:
import yfinance as yf
## APD', 'APH', 'RACE', 'TEL', 'IFF', 'GLW'

In [13]:
apd = yf.Ticker("APD")

In [14]:
apd.dividends

Date
1983-06-29    0.028908
1983-09-29    0.028908
1983-12-29    0.028908
1984-03-30    0.028908
1984-06-28    0.028908
                ...
2021-03-31    1.500000
2021-06-30    1.500000
2021-09-30    1.500000
2021-12-31    1.500000
2022-03-31    1.620000
Name: Dividends, Length: 155, dtype: float64

In [15]:
apd.financials

,2021-09-30,2020-09-30,2019-09-30,2018-09-30
Research Development,93500000.0,83900000.0,72900000.0,64500000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,2507400000.0,2423800000.0,2289500000.0,2015000000.0
Minority Interest,548300000.0,363300000.0,334700000.0,318800000.0
Net Income,2099100000.0,1886700000.0,1760000000.0,1497800000.0
Selling General Administrative,744600000.0,731000000.0,736100000.0,801200000.0
Gross Profit,3136900000.0,2998200000.0,2943400000.0,2740700000.0
Ebit,2354400000.0,2247200000.0,2183700000.0,1925200000.0
Operating Income,2354400000.0,2247200000.0,2183700000.0,1925200000.0
Other Operating Expenses,-55600000.0,-63900000.0,-49300000.0,-50200000.0
Interest Expense,-141800000.0,-109300000.0,-137000000.0,-130500000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,462800000.0,478400000.0,480100000.0,524300000.0
Total Revenue,10323000000.0,8856300000.0,8918900000.0,8930200000.0
Total Operating Expenses,7968600000.0,6609100000.0,6735200000.0,7005000000.0
Cost Of Revenue,7186100000.0,5858100000.0,5975500000.0,6189500000.0
Total Other Income Expense Net,153000000.0,176600000.0,105800000.0,89800000.0
Discontinued Operations,70300000.0,-14300000.0,-14300000.0,42200000.0
Net Income From Continuing Ops,2044600000.0,1945400000.0,1809400000.0,1490700000.0
Net Income Applicable To Common Shares,2099100000.0,1886700000.0,1760000000.0,1497800000.0

In [16]:
apd.recommendations

                                  Firm        To Grade  From Grade Action
Date
2012-03-20 06:07:00     Morgan Stanley     Underweight               init
2012-03-27 09:19:00          Jefferies             Buy               main
2012-04-25 07:21:00          JP Morgan         Neutral               main
2012-04-26 06:09:00     Morgan Stanley    Equal-Weight                 up
2012-04-27 06:08:00          Citigroup         Neutral               down
...                                ...             ...         ...    ...
2022-02-07 12:13:36  B of A Securities         Neutral         Buy   down
2022-02-07 12:14:46        Wells Fargo      Overweight               main
2022-02-07 12:21:33      Deutsche Bank             Buy               main
2022-02-08 11:25:11        BMO Capital  Market Perform  Outperform   down
2022-03-21 10:11:17          JP Morgan      Overweight     Neutral     up

[180 rows x 4 columns]

In [17]:
apd.calendar

                                Value
Earnings Date     2022-05-05 12:30:00
Earnings Average                 2.36
Earnings Low                     2.27
Earnings High                    2.45
Revenue Average            2969160000
Revenue Low                2843000000
Revenue High               3199000000

In [18]:
apd.news

[{'uuid': 'fbfb51ba-8c0b-3741-9120-0bbb4fa568cb',
  'title': 'Can Air Products and Chemicals (APD) Keep the Earnings Surprise Streak Alive?',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/air-products-chemicals-apd-keep-161004902.html',
  'providerPublishTime': 1649952604,
  'type': 'STORY'},
 {'uuid': '45a42c23-b589-3d95-9b6e-18955ed7671a',
  'title': "Air Products (APD) Buys Air Liquide's Gas Units in UAE & Bahrain",
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/air-products-apd-buys-air-151703034.html',
  'providerPublishTime': 1649949423,
  'type': 'STORY'},
 {'uuid': '0e2a2635-616c-3cda-8c5b-3c499778f9a6',
  'title': 'Saudi Arabia Looks To Position NEOM As A Hydrogen Leader',
  'publisher': 'Oilprice.com',
  'link': 'https://finance.yahoo.com/news/saudi-arabia-looks-position-neom-200000240.html',
  'providerPublishTime': 1649793600,
  'type': 'STORY'},
 {'uuid': '111448d3-d106-3a72-a69b-00d7a3c862d0',
  'title': "Air Products Acquires Air Liquide's Industrial Gases Business in United Arab Emirates and Bahrain",
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/air-products-acquires-air-liquides-154500361.html',
  'providerPublishTime': 1649778300,
  'type': 'STORY'},
 {'uuid': 'ca9b937c-476f-3b0e-bdc0-e1154cdcaf53',
  'title': "Air Products' Employees, Retirees and the Air Products Foundation Raise and Contribute more than $5.3 Million to Annual United Way Campaign",
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/air-products-employees-retirees-air-140000141.html',
  'providerPublishTime': 1649340000,
  'type': 'STORY'},
 {'uuid': '7c9ba8f8-d1ae-353c-ba07-7fdf2a07aa75',
  'title': '3 Neon Gas Stocks to Watch as Geopolitical Events Threaten Supply',
  'publisher': 'InvestorPlace',
  'link': 'https://finance.yahoo.com/news/3-neon-gas-stocks-watch-102319928.html',
  'providerPublishTime': 1649326999,
  'type': 'STORY'},
 {'uuid': 'fd8ff9f2-5722-382d-ae6d-dbab0ff9758c',
  'title': '2 Industrial Stocks With Double-Digit Return Potential',
  'publisher': 'GuruFocus.com',
  'link': 'https://finance.yahoo.com/news/2-industrial-stocks-double-digit-174825739.html',
  'providerPublishTime': 1649094505,
  'type': 'STORY'},
 {'uuid': '256d53da-0261-3233-8327-ee002a470c8c',
  'title': 'Air Products to Broadcast Fiscal 2022 Second Quarter Earnings Teleconference on May 5',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/air-products-broadcast-fiscal-2022-140000695.html',
  'providerPublishTime': 1649080800,
  'type': 'STORY'}]