In [14]:
# Initial imports
import os                                               #os interface library 
import requests                                         #HTTP requests library
import pandas as pd                                     #panda library
from dotenv import load_dotenv                          #dotenv library to read keys and secrect key for api
import alpaca_trade_api as trade_api                     #Alpaca library
#from alpaca_trade_api.rest import REST, TimeFrame       #Alpaca trading library
from MCForecastTools import MCSimulation                #Monta Carlos simulation apis
import json                                             #JSON library ro work with JSON objects
from datetime import date                               #Data-Time library

#set the backend of matplotlib to the 'inline' backend 
%matplotlib inline

In [7]:
# Load .env enviroment variables
load_dotenv()

True

In [12]:
# Set Alpaca API key and secret
alpaca_api_key=os.getenv("ALPACA_API_KEY")
alpaca_secret_key=os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

In [85]:
# Format current date as ISO format
today = date.today() + pd.DateOffset(years=-5)                        #Get current date and move to 5 years back
today = pd.Timestamp(today, tz="America/New_York").isoformat()        #Convert to datetime format

# Set the tickers
tickes=['APD', 'APH', 'RACE', 'TEL', 'IFF', 'GLW']

# Set timeframe to '1D' for Alpaca API
timeframe = "1Day"

# Get current closing prices for SPY and AGG
portfolio = alpaca.get_bars(tickes, timeframe, start=today,  adjustment='raw').df

In [87]:
#Extract ticker info object
def get_ticker_info(data, symbol):
    ticker_info = data[data["symbol"]==symbol].drop("symbol", axis=1)   
    return ticker_info

In [88]:
get_ticker_info(portfolio, 'APD')

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2017-04-11 04:00:00+00:00,135.79,136.4697,135.40,136.42,1004012,10566,135.998981
2017-04-12 04:00:00+00:00,136.46,136.4750,135.35,135.51,899936,9535,135.820122
2017-04-13 04:00:00+00:00,135.33,135.5800,134.17,134.30,626943,7518,134.705681
2017-04-17 04:00:00+00:00,134.78,135.8950,134.42,135.86,1092375,11416,135.497295
2017-04-18 04:00:00+00:00,135.04,136.0200,134.72,135.27,701020,10116,135.259170
...,...,...,...,...,...,...,...
2022-04-05 04:00:00+00:00,251.64,253.7285,251.10,251.68,1130179,22386,251.948804
2022-04-06 04:00:00+00:00,250.00,251.4300,246.76,250.10,1095391,25740,249.695892
2022-04-07 04:00:00+00:00,249.63,252.0700,248.46,251.37,1057395,20318,250.620474
2022-04-08 04:00:00+00:00,252.00,254.2900,250.78,251.20,904898,17005,251.992625
2022-04-11 04:00:00+00:00,251.20,252.2400,249.57,249.83,998012,21348,250.604896

In [89]:
portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2017-04-11 04:00:00+00:00,135.79,136.4697,135.400,136.42,1004012,10566,135.998981,APD
2017-04-12 04:00:00+00:00,136.46,136.4750,135.350,135.51,899936,9535,135.820122,APD
2017-04-13 04:00:00+00:00,135.33,135.5800,134.170,134.30,626943,7518,134.705681,APD
2017-04-17 04:00:00+00:00,134.78,135.8950,134.420,135.86,1092375,11416,135.497295,APD
2017-04-18 04:00:00+00:00,135.04,136.0200,134.720,135.27,701020,10116,135.259170,APD
...,...,...,...,...,...,...,...,...
2022-04-05 04:00:00+00:00,130.91,131.7100,127.060,127.53,1894502,24477,128.212183,TEL
2022-04-06 04:00:00+00:00,125.45,126.3500,123.830,125.06,2017234,28690,124.738276,TEL
2022-04-07 04:00:00+00:00,124.80,126.2500,123.650,125.40,2113149,21922,125.050643,TEL
2022-04-08 04:00:00+00:00,124.90,126.4400,124.235,124.76,1743343,26745,125.142401,TEL
2022-04-11 04:00:00+00:00,123.75,124.9750,123.050,123.22,1550313,17821,123.642596,TEL